.logo {
    width: 150px;
}


.tabela-top-100{
    margin-top: 5%;
    border-radius: 15px;
    margin-right: 20px;
    border:1px solid rgba(255, 255, 255, 0.116);
    background-color: #27225a;
}
body{
    background-color: #28244c;
}

#logo-coin{
    width: 25px;
}
#logo-coin-top{
    width: 50px;
}

.header-tabela{
color: rgba(221, 221, 221, 0.89) !important;
text-align: center;
font-weight: bold;

}
.corpo-tabela {
    color:rgba(221, 221, 221, 0.89);
    text-align: center;
}
#nome, #nome-header {
    text-align: left;
}
#valor, #h24, #market-cap,#valor-header, #h24-header, #market-header,#volume-header,#volume-total {
    text-align: right;
}
.caixas {
    padding-left: 3%;
    height:150px;
    background-color:white;
    border-radius: 15px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.top3 {
    padding-top: 15%;
}

.top3-titulo {
    font-size: 150%;
    margin-top: 16%;
    margin-left: auto;
    margin-right: auto;
    color:white;
}
.d-flex input[type=text] {
    padding: 10px;
    font-size: 15px;
    border:none;
    width: 60%;
    background: #f1f1f1;
  }
  .d-flex button {
    width: 20%;
    padding: 10px;
    background: #6e6e6e91;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  


